/* Body */
.cocktail {
    background-color: lightblue;
    border: 5px solid dodgerblue;
    width: 300px; 
    height: 300px; 
}
<<<<<<< HEAD

/* Larger Resolutions */
@media (min-width:900px){
    
    .flex-container {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

}
=======
>>>>>>> a1f4b03e63efb634efb418c8eaf2163ce1975d36
