/* Body */
.cocktail {
    background-color: lightblue;
    border: 5px solid dodgerblue;
    width: 300px; 
    height: 300px; 
}

/* Larger Resolutions */
@media (min-width:900px){
    
    .flex-container {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

}