/* Body */
.cocktail {
    background-color: lightblue;
    border: 5px solid dodgerblue;
}

.brewery {
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.brewery:hover {
  background-color: coral;
}

.brewery a {
  color: white;
  font-size: 1.25em;
  text-decoration: none;
}